header{
    font: 1em sans-serif;
    color: blue;
}

#meme-gallery{
    display: table;
}


.meme img{
    display: inline-block;
    block-size: 200px;
    max-width: 100%;
    z-index: 2;
}


.text-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .text-bottom {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);