header{
    
    font: 1em sans-serif;
    color: blue;
    margin: auto;
    animation: color-change 4s infinite;
    
}

@keyframes color-change {
    0% { color: red; }
    25% { color: purple}
    50% { color: blue; }
    70%{ color: green}
    100% { color: orange; }
}

h1{
    color: lightseagreen;

}

#first{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    color: violet;
    block-size: 200px;
    margin: 200px;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation: color-change 4s infinite;
    border: 3px solid plum;

    
}

#form-container{
    margin-top: 20px;
    width: 800;
}

.button, .button:hover{
    color: blue;
    margin-top: 50px;;
    animation: color-change 4s infinite;
    cursor: pointer;
}
section{
    
}

#meme-gallery{
    
    justify-content: space-evenly;
    margin-top: 0;
    background-color: linen;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    
    
}

.meme {
    position: relative;
    text-align: center;
    display: inline-block;
    color: aliceblue;
    font-size: 1.5em;
    margin: 5px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 5px #000;
    animation: color-change 4s infinite;
}


img {
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
  }



.lower-position{
    
    
    width: 100%;
    position: absolute;
    bottom: 8px;
    left:50%;
    transform: translate(-50%);
    
}

.upper-position{
    width: 100%;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%);

}


.delete{
    position: absolute;
    top:0;
    left:0;
    font-size: medium;
    color: red;
    border: 5px;
    border-color: cornsilk;
    opacity: 0;
    padding:0;
    transition: opacity 0.35s ease;
    transition: center 1s ease;
    
}

.delete:hover{
    opacity: 1;
    cursor: pointer;
    transform: translate3d();
    color: yellow;
    width: 100%;
    height: 100%;
    
}

